
<div class="container">
<h1>SignUp</h1>

<form ng-submit="auth_ctrl.register()">
  <div class="form-group">
    <label>First Name
      <input type="text" class="form-control" placeholder="First Name" ng-model="auth_ctrl.user.firstname">
    </label>
  </div>
  <div class="form-group">
    <label>Last Name
      <input type="text" class="form-control" placeholder="Last Name" ng-model="auth_ctrl.user.lastname">
    </label>
  </div>
  <div class="form-group">
    <label>Email Address
      <input type="email" class="form-control" placeholder="Email" ng-model="auth_ctrl.user.email">
    </label>
  </div>
  <div class="form-group">
    <label>Password
      <input type="password" class="form-control" placeholder="Password" ng-model="auth_ctrl.user.password">
    </label>
  </div>

  <input type="submit" class="btn btn-success" value="Sign Up">
</form>
</div>
