<div class="container">
<h1>New Tournament</h1>

<form ng-submit="TournamentCtrl.new_tournament()">
  <div class="form-group">
    <label>Name
      <input type="text" class="form-control" placeholder="Name" ng-model="TournamentCtrl.name">
    </label>
  </div>
  <div class="form-group">
    <label>Description
      <input type="text" class="form-control" placeholder="Desctiption" ng-model="TournamentCtrl.description">
    </label>
  </div>
  <div form-group>
    <label>Status type
      <input type="text" class="form-control" placeholder="Status type" ng-model="TournamentCtrl.status_type">
    </label>
  </div>

  <input type="submit" class="btn btn-success" value="new_tournament">
</form>
</div>