<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "TableFootball", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Sign Up", new_user_registration_path %></li>
        <li><%= link_to "Sign In", new_user_session_path %></li>
      </ul>
    </nav>
  </div>
</header>