<!DOCTYPE html>
<html>
<head>
  <title>TableFootball</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body ng-app="table_football">
  <div class="container">
    <h1>{{1 + 2}}</h1>
  </div>
</body>
</html>
